.dashboard_template,
.app_side_bar,
.dashboard,
.dashboard_aside_form {
  @apply w-full h-full;
}
.dashboard_template {
  display: grid;
  grid-template-columns: 60px auto 215px;
  grid-template-areas: "app_side_bar dashboard dashboard_aside_form";
}

.app_side_bar {
  grid-area: app_side_bar;
}

/* =============== dashboard =============== */
.dashboard {
  grid-area: dashboard;
  display: grid;
  grid-template-columns: minmax(500px,58%) minmax(440px, 42%);
  grid-template-rows: 90px 43% auto ;

  grid-template-areas:
    "notes_table cards"
    "notes_table budget"
    "gain_spend_ratio debts_table";
}

.notes_table {
  grid-area: notes_table;
}

.cards {
  grid-area: cards;
}

.gain_spend_ratio {
  grid-area: gain_spend_ratio;
}

.debts_table {
  grid-area: debts_table;
}

.dashboard_aside_form {
  grid-area: dashboard_aside_form;
}
